{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="py-5 text-center">
        <p class="lead text-danger">
            {% if error %}
            {{ error }}
            {% endif %}
        </p>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
            <div class="form-floating">
                <h1>Password change successful</h1>
            </div>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</main>
{% endblock %}