{% extends 'base.html' %}
{% block content %}
<main>
    <div class="row justify-content-md-center">
        {% for copybook in copybook_list %}
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
            <div class="card shadow-sm">
                <div class="card-body">
                    <b>
                        <h5>{{copybook.title}}</h5>
                    </b>
                    <b>{{copybook.author}}</b>
                    <p class="card-text">{{copybook.description}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-success">Borrow</button>
                        </div>
                        <small class="text-muted">{{copybook.pages}}</small>
                    </div>
                </div>
                <div class="card-footer text-center text-muted">
                    <a href="#">Edit</a> | <a href="#">Delete</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-2"></div>
        {% endfor %}
    </div>
</main>
{% endblock %}