{% extends 'base.html'%}
{% block content %}
<main class="form-signin w-100 m-auto">
    <br>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
            <h2 class="h1 col-md-auto">Password reset completed</h2>
            <p>Your new password is now ready to be used, try it out and <a href="{% url 'password_reset' %}">Log In</a>
            </p>
        </div>
        <div class="col col-lg-2"></div>
    </div>
    <div class="py-5 text-center">
        <p class="lead text-danger">
            {% if error %}
            {{ error }}
            {% endif %}
        </p>
    </div>
</main>
{% endblock %}